{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post" class="row my-5">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous vous êtes connectés en tant
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}
		<div class="row my-5">
			<div class="col d-flex justify-content-center">
				<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
			</div>
		</div>
		<div class="row my-5">
			<div class="col d-flex justify-content-center">
				<div class="card" style="width: 32rem;">
					<div class="card-body">
						<label for="username">Email</label>
						<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
						<label for="password">Password</label>
						<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						{# <div class="checkbox mb-3">
							<input type="checkbox" name="_remember_me" id="_remember_me">
							<label for="_remember_me">Remember me</label>
						</div> #}
						<div class="row mt-3">
							<div class="col d-flex justify-content-center">
								<button class="btn btn-with-bg text-uppercase fw-bold" type="submit">
									Connectez-vous
								</button>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col d-flex justify-content-center">
								<p>Vous avez oublié votre mot de passe
									<a href="{{ path('app_forgot_password_request') }}" class="link-bg-white">Mot de passe oublié</a>
								</p>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col d-flex justify-content-center">
								<p>Vous n'avez pas de compte
									<a href="{{ path('app_register') }}" class="link-bg-white">Crée un compte</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
