{% extends 'base.html.twig' %}

{% block title %}Ingredients index{% endblock %}

{% block body %}
    <h1>Ingredients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameIngredient</th>
                <th>Quantities</th>
                <th>Units</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.nameIngredient }}</td>
                <td>{{ ingredient.quantities }}</td>
                <td>{{ ingredient.units }}</td>
                <td>{{ ingredient.createdAt ? ingredient.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ingredient.updatedAt ? ingredient.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_ingredients_show', {'id': ingredient.id}) }}">show</a>
                    <a href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ingredients_new') }}">Create new</a>
{% endblock %}
