{% extends 'base.html.twig' %}

{% block title %}Preparation{% endblock %}

{% block body %}
    <h1>Preparation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ preparation.id }}</td>
            </tr>
            <tr>
                <th>Step</th>
                <td>{{ preparation.step }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ preparation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_preparation_index') }}">back to list</a>

    <a href="{{ path('app_preparation_edit', {'id': preparation.id}) }}">edit</a>

    {{ include('preparation/_delete_form.html.twig') }}
{% endblock %}
