<div{{attributes}}>
	{{ form_start(form) }}
	<div class="row mt-5">
		<div class="col-12 d-flex justify-content-center">
			<h1>Nom de la recette</h1>
		</div>
	</div>
	<div class="row d-flex justify-content-center my-5">
		<div class="col-8">
			{{ form_row(form.name, {label: false, attr: { placeholder: 'Mousse au chocolat' } }) }}
		</div>
	</div>
	<div class="row">
		<div class="col  d-flex justify-content-center">
			<div class="card" style="width: 80%;">

				<div class="card-body">
					<div class="row my-5">
						<div class="col-12 d-flex justify-content-center">
							<div class="card" style="width: 80%;">
								<div class="card-body">
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											<h2>Ajouter les étapes de la recettes</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											{% for step_form in form.steps %}
												<div class="row">
													<div class="col-6">
														{{ form_row(step_form.numbers, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: "Numéros de l'étapes" } }) }}
													</div>
													<div class="col-6 d-flex justify-content-end">
														{{ form_row(step_form.vars.button_delete, {label: 'X', attr: {class: 'btn btn-no-bg-dark-color'}}) }}
													</div>
												</div>
												<div class="row">
													<div class="col-12">
														{{ form_row(step_form.description, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: "Description de l'\étapes" } }) }}
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											{{ form_widget(form.steps.vars.button_add, {label: "+ Ajouter d\'autres étapes", attr: {class: 'btn btn-no-bg-primary-color'}}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row my-5">
						<div class="col-12 d-flex justify-content-center">
							<div class="card" style="width: 80%;">
								<div class="card-body">
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											<h2>Ajouter les Ingredients</h2>
										</div>
									</div>
									<div class="row d-flex justify-content-center">
										<div class="col-12">
											{% for ingredien_form in form.ingrediens %}
												<div class="row">
													<div class="col-8">
														{{ form_row(ingredien_form.name, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: "Nom de l'\ingrédient" } }) }}
													</div>
													<div class="col-3">
														{{ form_row(ingredien_form.quantities, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: "Quantites" } }) }}
													</div>
													<div class="col-1 d-flex justify-content-end">
														{{ form_row(ingredien_form.vars.button_delete, {label: 'X', attr: {class: 'btn btn-no-bg-dark-color'}}) }}
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											{{ form_widget(form.ingrediens.vars.button_add, {label: "+ Ajouter d\'autres ingredients", attr: {class: 'btn btn-no-bg-primary-color'}}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row my-5">
						<div class="col-12 d-flex justify-content-center">
							<div class="card" style="width: 80%;">
								<div class="card-body">
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											<h2>Ajouter les valeurs nutritionnels</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											{% for nutritionalValue_form in form.nutritionalValues %}
												<div class="row">
													<div class="col-8">
														{{ form_row(nutritionalValue_form.name, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: "Nom de la valeur nutritionel" } }) }}
													</div>
													<div class="col-3">
														{{ form_row(nutritionalValue_form.percentages, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: "Valeurs" } }) }}
													</div>
													<div class="col-1 d-flex justify-content-end">
														{{ form_row(nutritionalValue_form.vars.button_delete, {label: 'X', attr: {class: 'btn btn-no-bg-dark-color'}}) }}
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											{{ form_widget(form.nutritionalValues.vars.button_add, {label: "+ Ajouter d\'autres valeurs nutritionnel", attr: {class: 'btn btn-no-bg-primary-color'}}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row my-5">
						<div class="col-12 d-flex justify-content-center">
							<div class="card" style="width: 80%;">
								<div class="card-body">
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											<h2>Ajouter les allergens</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											{% for allergen_form in form.allergens %}
												<div class="row">
													<div class="col-11">
														{{ form_row(allergen_form.name, { label: false, row_attr: {class: 'mb-1, w-100, input-add-receipes'}, attr: { placeholder: 'Allergène' } }) }}
													</div>

													<div class="col-1 d-flex justify-content-end">
														{{ form_row(allergen_form.vars.button_delete, {label: 'X', attr: {class: 'btn btn-no-bg-dark-color'}}) }}
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="row my-3">
										<div class="col-12 d-flex justify-content-center">
											{{ form_widget(form.allergens.vars.button_add, {label: "+ Ajouter d\'autres allergens", attr: {class: 'btn btn-no-bg-primary-color'}}) }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-5">
						<div class="col-12 d-flex justify-content-center">
							<button type="submit" class="btn btn-primary-color text-uppercase fw-bold" formnovalidate>Enregistrer la nouvelle recettes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
</div>
