{% extends 'base.html.twig' %}

{% block title %}Recipes index{% endblock %}

{% block body %}
    <h1>Recipes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>NameRecipe</th>
                <th>Description</th>
                <th>NumberOfCovers</th>
                <th>PreparationTime</th>
                <th>CookingTime</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.slug }}</td>
                <td>{{ recipe.nameRecipe }}</td>
                <td>{{ recipe.description }}</td>
                <td>{{ recipe.numberOfCovers }}</td>
                <td>{{ recipe.preparationTime ? recipe.preparationTime|date('H:i:s') : '' }}</td>
                <td>{{ recipe.cookingTime ? recipe.cookingTime|date('H:i:s') : '' }}</td>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.updatedAt ? recipe.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_recipes_show', {'id': recipe.id}) }}">show</a>
                    <a href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipes_new') }}">Create new</a>
{% endblock %}
